<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.nosad.sample">

<permission android:name="com.nosad.sample.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
<permission android:name="com.nosad.sample.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <!--AIzaSyAtYDGnClTps2D4mIKw8Z8pWQ_Rd1JEpv0-->

<uses-feature android:glEsVersion="0x00020000" android:required="true" />
<uses-feature android:name="android.hardware.sensor.stepcounter" />
<uses-feature android:name="android.hardware.sensor.stepdetector" />

<!-- To auto-complete the email text field in the login form with the user's emails -->
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.READ_PHONE_STATE" />

<!--Cloud messaging-->
<uses-permission android:name="com.nosad.sample.permission.C2D_MESSAGE" />

<!-- Location related permissions -->
<uses-permission android:name="com.nosad.sample.permission.MAPS_RECEIVE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<!-- Network permissions -->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application android:allowBackup="true" android:fullBackupContent="true" android:name=".App" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme" android:hardwareAccelerated="false">

    <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver" android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->
            <category android:name="com.nosad.sample" />
        </intent-filter>
    </receiver>

    <service android:name=".engine.managers.messaging.GCMListener" android:exported="false">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
    </service>

    <service android:name=".engine.managers.messaging.GCMInstanceIDListener" android:exported="false">
        <intent-filter>
            <action android:name="com.google.android.gms.iid.InstanceID"/>
        </intent-filter>
    </service>

    <service android:name=".engine.managers.messaging.RegistrationIntentService" android:exported="false">

    </service>

    <activity android:screenOrientation="portrait" android:name=".view.activities.LoginActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:screenOrientation="portrait" android:name=".view.activities.MainActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity android:screenOrientation="portrait" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/app_name" />

    <activity android:screenOrientation="portrait" android:name=".view.activities.SettingsActivity"
        android:label="@string/title_activity_settings">
        <intent-filter>
            <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <provider android:authorities="com.facebook.app.FacebookContentProvider912233188857453"
        android:name="com.facebook.FacebookContentProvider" android:exported="true" />

    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBV7mP-X-1mLUoY4dPBYOuRKnAJJdWrZuo" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
</application>

</manifest>
